body {
    width: 350px; /* or any other appropriate width */
    min-width: 300px; /* ensures a minimum width */
    padding: 15px;
    font-family: Arial, sans-serif;
  }
  
label, input {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }
  
  input {
    padding: 5px;
    margin-bottom: 10px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #2ca79b;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #40E0D0;
  }
  
  #results {
    margin-top: 20px;
  }